div { font-family: 'Montserrat', sans-serif }

.logo {
    text-decoration: none;
    font-weight: 600;
    color: #5200FF;
    font-size: 21px;
}

.navbar { margin: 30px 0 0 0 }

.square {
    width: 600px;
    height: 475px;
    border-radius: 20px;
    border: 1px solid #E2E2E2;
    background: #F9F9F9;
    margin: 136px auto auto auto;
}

.header__text {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 65px 0 0 0;
}

.text {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 8px 0 0 0;
}

form { text-align: center }

.input {
    width: 310px;
    height: 55px;
    background: #E2E2E2;
    border-radius: 15px;
    border: none;
    outline: none;

    padding: 0 0 0 30px;
    color: #303030;
    font-weight: 300;
    font-size: 15px;
}

.second { margin: 20px 0 0 0 }
.first { margin:  40px 0 0 0 }

.button__submit { margin: 35px 0 0 0 }
.button__submit input {
    width: 220px;
    height: 50px;
    background: #5200FF;
    border: none;
    border-radius: 15px;

    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}